* {
    border: none;
    border-radius: 0px;
    font-family: MesloLGS Nerd Font;
    font-size: 24px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background: alpha(#222222, 0); 
    color: lighter(#333333);
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button {
    padding: 0px;
    margin-bottom: 3px;
    margin-right: 1px;
    padding-left: 0px;
    padding-right: 6px;
}

#workspaces button.active {
    padding-left: 0px;
    padding-right: 6px;
}

#workspaces button.urgent {
    padding-left: 0px;
    padding-right: 6px;
}

tooltip {
    border-radius: 8px;
    background: alpha(#222222, 0.8);
}

tooltip label {
    font-size: 18px;
    color: lighter(#B4B4B8);
}

#tray,
#clock,
#backlight,
#pulseaudio,
#custom-shutdown,
#custom-reboot,
#custom-logout,

#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-brightness {
    color: #ffffff;
    margin-right: 6px;
    font-size: 22px;
    margin-bottom: -4px;
}

#custom-brightness_percent {
    margin-top: -4px;
    margin-left: 1px;
    color: #ffffff;
    font-family: Noto Sans;
    font-size: 14px;
    background: #ffFFFF;
    color: #000000;
    border-radius: 6px 0px 0px 6px;
}

#pulseaudio.icon {
    margin-top: -3px;
    margin-right: 3px;
    color: #ffFFFF;
    font-size: 24px;
    margin-bottom: -6px;
}

#pulseaudio.volume {
    margin-top: -4px;
    margin-left: 1px;
    color: #ffffff;
    font-family: Noto Sans;
    font-size: 14px;
    background: #ffFFFF;
    color: #000000;
    border-radius: 6px 0px 0px 6px;
    margin-bottom: 8px;
}

#clock.date {
    color: #ffffff;
    font-size: 20px;
    margin-top: 12px;
}

#clock.time {
    color: #ffffff;
    font-size: 22px;
}

#clock.day {
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 20px;
}

#tray {
    margin-right: -1px; 
    margin-bottom: 4px;
}

#custom-cpu_temp {
    margin-left: -1px;
    color: #ffffff;
    font-family: Noto Sans;
    font-size: 16px;
    background: #ffFFFF;
    color: #000000;
    border-radius: 6px 0px 0px 6px;
}

#custom-gpu_temp {
    margin-top: -4px;
    margin-left: 1px;
    color: #ffffff;
    font-family: Noto Sans;
    font-size: 16px;
    background: #ffFFFF;
    color: #000000;
    border-radius: 6px 0px 0px 6px;
}

#custom-net_speed {
    margin-left: 1px;
    color: #ffffff;
    font-family: Noto Sans;
    font-size: 16px;
    background: #ffFFFF;
    color: #000000;
    border-radius: 6px 0px 0px 6px;
}

#custom-sleep {
    margin-right: 4px;
    color: #ffffff;
    font-size: 30px;
}

#custom-logout {
    margin-top: 4px;
    margin-right: 5px;
    color: #ffffff;
    font-size: 28px;
}

#custom-reboot {
    margin-top: -8px;
    margin-right: 4px;
    color: #FFffff;
    font-size: 30px;
}

#custom-shutdown {
    margin-top: -8px;
    margin-right: 6px;
    color: #ffffff;
    font-size: 26px;
    margin-bottom: -3px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
