* {
    background-image: none;
}
window {
    background-color: rgba(12, 12, 12, 0.9)
}
button {
    color: #5e81ac;
    background-color: #333333;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:hover {
    background-color: #B4B4B8;
    color: #81a1c1;
    outline-style: none;
    background-size: 65%;
    border-radius: 10px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#logout {
    opacity: 0.9;
    background-image: image(url("/home/aries/.config/wlogout/logout.png"), url("/home/aries/.config/wlogout/logout.png"));
    border-radius: 5px 45px 45px 5px;
}

#shutdown {
    opacity: 0.9;
    background-image: image(url("/home/aries/.config/wlogout/shutdown.png"), url("/home/aries/.config/wlogout/shutdown.png"));
    border-radius: 45px 5px 5px 45px;
}

#reboot {
    opacity: 0.9;
    background-image: image(url("/home/aries/.config/wlogout/reboot.png"), url("/home/aries/.config/wlogout/reboot.png"));
    border-radius: 5px 5px 5px 5px;
}
